.page-btn {
  padding: 6px 8px;
  margin: 2px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
}
.page-btn:hover {
  background-color: #2a6b81;
  color: white;
}
.pagenation-div {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.not-active {
  background-color: transparent;
}

.active {
  background-color: #2a6b81;
  color: white;
}
.next-btn {
  border-radius: 5px;
  font-size: 10px;
  margin-right: 3px;
  border: 1px solid;
  font-weight: bolder;
  cursor: pointer;
}
.prev-btn {
  border-radius: 5px;
  font-size: 10px;
  margin-left: 3px;
  border: 1px solid;
  font-weight: bolder;
  cursor: pointer;
}
