@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
  font-family: "Open Sans", sans-serif;
}
.header {
  margin: 20px 135px;
  display: flex;
  align-items: center;
}
table {
  background: #012b39;
  border-radius: 4px;
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}
th {
  border-bottom: 1px solid #364043;
  color: #e2b842;
  font-size: 14px;
  font-weight: 600;
  padding: 14px;
  text-align: left;
  cursor: pointer;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 14px;
  font-size: 12px;
}

tbody tr:hover {
  background: #58440b;
}

tr:nth-child(even) {
  background-color: #2e4e58;
}
.sort-icon {
  margin-left: 4px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(238, 9, 9);
  font-weight: bolder;
  font-size: 22px;
}

select {
  width: 80px;
  height: 28px;
  margin-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.download-csv {
  text-decoration: none;
  color: white;
  background: #1d5d72;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: auto;
}

.search {
  width: 200px;
  height: 28px;
  border-radius: 4px;
  outline: none;
  border: 1px solid;
}
